@Model ChemicalShopping.Models.Categories
@{
    ViewBag.Title = "List";
}

<h2>Category</h2>

<div class="catelist">
    @{
        foreach (var category in Model)
        {
            <div>
                <a href="/Category/Show/@category.CategoryID">@category.CategoryName</a>
                <a href="/Category/Update/@category.CategoryID">Edit</a>
                <a href="/Category/Deletecomfirm/@category.CategoryID">Remove</a>
            </div>
        }
    }
</div>
<!-- Add -->
<div class="cruddiv">
    <a class="crudlink" href="/Category/Add">+ Add New Category</a>
</div>

